// colors
$background: rgb(20, 20, 20);
$background-light: rgb(24, 24, 24);
$background-blur: rgb(40, 40, 40);
$color-primary: rgb(170, 0, 255);
$color-secondary: rgb(241, 104, 0);

// fonts
// $font-header: ;
// $font-body: ;


ul {
  padding-inline-start: 0;
}

h1, h2, p, div {
  color: white;
}