@import './global';

.projects {
  color: white;
  text-align: center;
  margin-bottom: 5rem;

  &__selected {
    color: $color-primary;
  }

  &__headers {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10rem;
    margin-bottom: 2rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    max-width: 1000px;
    margin: auto;
    justify-items: center;
  }
}

.grid {
  &__content {
    width: 500px;
  }

  &__photo {
    width: 500px;
  }

  &__photo img {
    width: 100%;
  }

  &__nolist {
    list-style: disc;
    text-align: left;
  }
}


.test {
  border: 1px red solid;
}