@import './global';

.three-up {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 20rem;
  justify-items: center;

  &__box {
    background-color: $background-light;
    height: 15rem;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    animation: scaleout .5s;

    @keyframes scalein {
      from { transform: scale(100%);}
      to { transform: scale(105%);}
    }

    @keyframes scaleout {
      from { transform: scale(105%);}
      to { transform: scale(100%);}
    }
    
    &:hover {
      animation: forwards ease-in-out scalein  .5s;
    }

    p {
      padding: 15%;
    }
  }
}