ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

h1, h2, a {
  font-family: "Adamina", serif;
  color: white;
}

p {
  font-family: "Roboto Slab", serif;
  color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100vw;
  padding: 0.75rem 0;
  background-color: rgb(24, 24, 24);
}

.vue:hover {
  color: #6eb487;
}

.scss:hover {
  color: #bb6f98;
}