ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

h1, h2, a {
  font-family: "Adamina", serif;
  color: white;
}

p {
  font-family: "Roboto Slab", serif;
  color: white;
}

.main-content {
  margin: 2rem 0;
  text-align: center;
}