.projects-code__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  max-width: 1000px;
  margin: auto;
  justify-items: center;
}

.grid-code__content {
  width: 500px;
}
.grid-code__photo {
  width: 500px;
}
.grid-code__photo img {
  width: 100%;
}
.grid-code__nolist {
  list-style: disc;
  text-align: left;
}